{
  "openapi": "3.0.3",
  "info": {
    "title": "Life Pickr API",
    "version": "0.0.1",
    "description": "공개 + 로그인 사용자 API(어드민 제외). 인증·CORS·레이트리밋·에러 형식은 docs/api/README.md. x-auth: public | optional(Bearer 있으면 회원 혜택) | user(Bearer 필수). x-rate-limit: 라우트별 한도(없으면 IP당 분당 1000)."
  },
  "servers": [
    {
      "url": "https://ninelife.kr"
    }
  ],
  "paths": {
    "/api/v1/air/bad-stations": {
      "get": {
        "summary": "통합대기환경지수 나쁨 이상 측정소 목록 — 에어코리아 프록시, 10분 캐시",
        "tags": [
          "air-quality"
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stationName": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 60
                          },
                          "addr": {
                            "type": "string",
                            "maxLength": 200
                          },
                          "sidoName": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true
                          }
                        },
                        "required": [
                          "stationName",
                          "addr",
                          "sidoName"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/forecast": {
      "get": {
        "summary": "대기질 예보통보(PM10·PM2.5·O3) — 에어코리아 프록시, 20분 캐시",
        "tags": [
          "air-quality"
        ],
        "description": "date(YYYY-MM-DD) 생략 시 KST 오늘이며, 당일 발표분이 아직 없으면 전일 발표분으로 1회 폴백한다. 명시한 date 는 폴백하지 않는다.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "in": "query",
            "name": "date",
            "required": false
          }
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "enum": [
                              "PM10",
                              "PM25",
                              "O3"
                            ]
                          },
                          "announced": {
                            "type": "string",
                            "maxLength": 40
                          },
                          "announcedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "targetDate": {
                            "type": "string",
                            "maxLength": 10
                          },
                          "overall": {
                            "type": "string",
                            "nullable": true
                          },
                          "cause": {
                            "type": "string",
                            "nullable": true
                          },
                          "actionKnack": {
                            "type": "string",
                            "nullable": true
                          },
                          "grades": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "region": {
                                  "type": "string",
                                  "maxLength": 20
                                },
                                "grade": {
                                  "type": "string",
                                  "maxLength": 20
                                }
                              },
                              "required": [
                                "region",
                                "grade"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "pollutant": {
                                  "type": "string",
                                  "enum": [
                                    "PM10",
                                    "PM2.5",
                                    "O3"
                                  ],
                                  "nullable": true
                                },
                                "at": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "animated": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "url",
                                "pollutant",
                                "at",
                                "animated"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "code",
                          "announced",
                          "announcedAt",
                          "targetDate",
                          "overall",
                          "cause",
                          "actionKnack",
                          "grades",
                          "images"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "date",
                    "items",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/forecast/weekly": {
      "get": {
        "summary": "초미세먼지 주간예보(권역별 등급) — 에어코리아 프록시, 60분 캐시",
        "tags": [
          "air-quality"
        ],
        "description": "date(발표일) 생략 시 KST 오늘이며, 오후 발표 전이면 전일 발표분으로 폴백한다.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "in": "query",
            "name": "date",
            "required": false
          }
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presentedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "outlook": {
                      "type": "string",
                      "nullable": true
                    },
                    "days": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "maxLength": 10
                          },
                          "grades": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "region": {
                                  "type": "string",
                                  "maxLength": 20
                                },
                                "grade": {
                                  "type": "string",
                                  "maxLength": 20
                                }
                              },
                              "required": [
                                "region",
                                "grade"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "reliability": {
                            "type": "string",
                            "maxLength": 10,
                            "nullable": true
                          }
                        },
                        "required": [
                          "date",
                          "grades",
                          "reliability"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "presentedAt",
                    "outlook",
                    "days",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/location": {
      "get": {
        "summary": "내 대기 위치 조회 — 사용자당 1개, 없으면 location null",
        "tags": [
          "air-location"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-auth": "user",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "location": {
                      "type": "object",
                      "properties": {
                        "lat": {
                          "type": "number",
                          "minimum": 33,
                          "maximum": 39
                        },
                        "lng": {
                          "type": "number",
                          "minimum": 124,
                          "maximum": 132
                        },
                        "label": {
                          "type": "string",
                          "maxLength": 40,
                          "nullable": true,
                          "default": null
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "geolocation",
                            "manual",
                            "station",
                            "place"
                          ]
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "lat",
                        "lng",
                        "source",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "내 대기 위치 저장 — 덮어쓰기, 저장 후 상태 반환",
        "tags": [
          "air-location"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number",
                    "minimum": 33,
                    "maximum": 39
                  },
                  "lng": {
                    "type": "number",
                    "minimum": 124,
                    "maximum": 132
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 40,
                    "nullable": true,
                    "default": null
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "geolocation",
                      "manual",
                      "station",
                      "place"
                    ]
                  }
                },
                "required": [
                  "lat",
                  "lng",
                  "source"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-auth": "user",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "location": {
                      "type": "object",
                      "properties": {
                        "lat": {
                          "type": "number",
                          "minimum": 33,
                          "maximum": 39
                        },
                        "lng": {
                          "type": "number",
                          "minimum": 124,
                          "maximum": 132
                        },
                        "label": {
                          "type": "string",
                          "maxLength": 40,
                          "nullable": true,
                          "default": null
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "geolocation",
                            "manual",
                            "station",
                            "place"
                          ]
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "lat",
                        "lng",
                        "source",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "내 대기 위치 삭제 — 멱등",
        "tags": [
          "air-location"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-auth": "user",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "location": {
                      "type": "object",
                      "properties": {
                        "lat": {
                          "type": "number",
                          "minimum": 33,
                          "maximum": 39
                        },
                        "lng": {
                          "type": "number",
                          "minimum": 124,
                          "maximum": 132
                        },
                        "label": {
                          "type": "string",
                          "maxLength": 40,
                          "nullable": true,
                          "default": null
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "geolocation",
                            "manual",
                            "station",
                            "place"
                          ]
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "lat",
                        "lng",
                        "source",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/sido/{sidoName}": {
      "get": {
        "summary": "시도별 실시간 대기오염 측정값 — 에어코리아 프록시, 10분 캐시",
        "tags": [
          "air-quality"
        ],
        "description": "sidoName 은 시도 약칭(서울·경기·전남광주 등)이며 \"전국\" 이면 전체. 업스트림 전국 조회 1콜을 캐시해 두고 요청 시도로 걸러 돌려준다(포함 매칭).",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20
            },
            "in": "path",
            "name": "sidoName",
            "required": true
          }
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sidoName": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stationName": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 60
                          },
                          "stationCode": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true
                          },
                          "sidoName": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true
                          },
                          "mangName": {
                            "type": "string",
                            "maxLength": 30,
                            "nullable": true
                          },
                          "dataTime": {
                            "type": "string",
                            "maxLength": 30,
                            "nullable": true
                          },
                          "measuredAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "so2": {
                            "type": "number",
                            "nullable": true
                          },
                          "co": {
                            "type": "number",
                            "nullable": true
                          },
                          "o3": {
                            "type": "number",
                            "nullable": true
                          },
                          "no2": {
                            "type": "number",
                            "nullable": true
                          },
                          "pm10": {
                            "type": "number",
                            "nullable": true
                          },
                          "pm25": {
                            "type": "number",
                            "nullable": true
                          },
                          "pm10Avg24": {
                            "type": "number",
                            "nullable": true
                          },
                          "pm25Avg24": {
                            "type": "number",
                            "nullable": true
                          },
                          "khai": {
                            "type": "number",
                            "nullable": true
                          },
                          "khaiGrade": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "so2Grade": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "coGrade": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "o3Grade": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "no2Grade": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "pm10Grade": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "pm25Grade": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "pm10Grade1h": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "pm25Grade1h": {
                            "anyOf": [
                              {
                                "type": "number",
                                "enum": [
                                  1
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  2
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  3
                                ]
                              },
                              {
                                "type": "number",
                                "enum": [
                                  4
                                ]
                              }
                            ],
                            "nullable": true
                          },
                          "flags": {
                            "type": "object",
                            "properties": {
                              "so2": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              },
                              "co": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              },
                              "o3": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              },
                              "no2": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              },
                              "pm10": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              },
                              "pm25": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              }
                            },
                            "required": [
                              "so2",
                              "co",
                              "o3",
                              "no2",
                              "pm10",
                              "pm25"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "stationName",
                          "stationCode",
                          "sidoName",
                          "mangName",
                          "dataTime",
                          "measuredAt",
                          "so2",
                          "co",
                          "o3",
                          "no2",
                          "pm10",
                          "pm25",
                          "pm10Avg24",
                          "pm25Avg24",
                          "khai",
                          "khaiGrade",
                          "so2Grade",
                          "coGrade",
                          "o3Grade",
                          "no2Grade",
                          "pm10Grade",
                          "pm25Grade",
                          "pm10Grade1h",
                          "pm25Grade1h",
                          "flags"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "sidoName",
                    "items",
                    "total",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/stations": {
      "get": {
        "summary": "전국 대기 측정소 목록(좌표·주소·측정항목) — 에어코리아 측정소정보, 24시간 캐시",
        "tags": [
          "air-quality"
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stationName": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 60
                          },
                          "addr": {
                            "type": "string",
                            "maxLength": 200
                          },
                          "sidoName": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true
                          },
                          "mangName": {
                            "type": "string",
                            "maxLength": 30,
                            "nullable": true
                          },
                          "year": {
                            "type": "string",
                            "maxLength": 10,
                            "nullable": true
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "maxLength": 20
                            }
                          },
                          "lat": {
                            "type": "number",
                            "minimum": 33,
                            "maximum": 39,
                            "nullable": true
                          },
                          "lng": {
                            "type": "number",
                            "minimum": 124,
                            "maximum": 132,
                            "nullable": true
                          }
                        },
                        "required": [
                          "stationName",
                          "addr",
                          "sidoName",
                          "mangName",
                          "year",
                          "items",
                          "lat",
                          "lng"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/stations/nearby": {
      "get": {
        "summary": "좌표 기준 가까운 대기 측정소와 현재 측정값 — 거리순",
        "tags": [
          "air-quality"
        ],
        "description": "lat·lng(WGS84) 필수, radius 기본 10km(최대 50km)·limit 기본 5(최대 20). 캐시된 측정소 목록으로 거리를 계산하고 전국 실시간 측정값을 측정소명으로 붙인다(실시간 실패 시 measure null).",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "minimum": 33,
              "maximum": 39
            },
            "in": "query",
            "name": "lat",
            "required": true
          },
          {
            "schema": {
              "type": "number",
              "minimum": 124,
              "maximum": 132
            },
            "in": "query",
            "name": "lng",
            "required": true
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 500,
              "maximum": 50000,
              "default": 10000
            },
            "in": "query",
            "name": "radius",
            "required": false
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 5
            },
            "in": "query",
            "name": "limit",
            "required": false
          }
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "center": {
                      "type": "object",
                      "properties": {
                        "lat": {
                          "type": "number"
                        },
                        "lng": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "lat",
                        "lng"
                      ],
                      "additionalProperties": false
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stationName": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 60
                          },
                          "addr": {
                            "type": "string",
                            "maxLength": 200
                          },
                          "sidoName": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true
                          },
                          "mangName": {
                            "type": "string",
                            "maxLength": 30,
                            "nullable": true
                          },
                          "year": {
                            "type": "string",
                            "maxLength": 10,
                            "nullable": true
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "maxLength": 20
                            }
                          },
                          "lat": {
                            "type": "number",
                            "minimum": 33,
                            "maximum": 39,
                            "nullable": true
                          },
                          "lng": {
                            "type": "number",
                            "minimum": 124,
                            "maximum": 132,
                            "nullable": true
                          },
                          "dist": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "measure": {
                            "type": "object",
                            "properties": {
                              "stationName": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 60
                              },
                              "stationCode": {
                                "type": "string",
                                "maxLength": 20,
                                "nullable": true
                              },
                              "sidoName": {
                                "type": "string",
                                "maxLength": 20,
                                "nullable": true
                              },
                              "mangName": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              },
                              "dataTime": {
                                "type": "string",
                                "maxLength": 30,
                                "nullable": true
                              },
                              "measuredAt": {
                                "type": "string",
                                "nullable": true
                              },
                              "so2": {
                                "type": "number",
                                "nullable": true
                              },
                              "co": {
                                "type": "number",
                                "nullable": true
                              },
                              "o3": {
                                "type": "number",
                                "nullable": true
                              },
                              "no2": {
                                "type": "number",
                                "nullable": true
                              },
                              "pm10": {
                                "type": "number",
                                "nullable": true
                              },
                              "pm25": {
                                "type": "number",
                                "nullable": true
                              },
                              "pm10Avg24": {
                                "type": "number",
                                "nullable": true
                              },
                              "pm25Avg24": {
                                "type": "number",
                                "nullable": true
                              },
                              "khai": {
                                "type": "number",
                                "nullable": true
                              },
                              "khaiGrade": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "so2Grade": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "coGrade": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "o3Grade": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "no2Grade": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "pm10Grade": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "pm25Grade": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "pm10Grade1h": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "pm25Grade1h": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "enum": [
                                      1
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      2
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      3
                                    ]
                                  },
                                  {
                                    "type": "number",
                                    "enum": [
                                      4
                                    ]
                                  }
                                ],
                                "nullable": true
                              },
                              "flags": {
                                "type": "object",
                                "properties": {
                                  "so2": {
                                    "type": "string",
                                    "maxLength": 30,
                                    "nullable": true
                                  },
                                  "co": {
                                    "type": "string",
                                    "maxLength": 30,
                                    "nullable": true
                                  },
                                  "o3": {
                                    "type": "string",
                                    "maxLength": 30,
                                    "nullable": true
                                  },
                                  "no2": {
                                    "type": "string",
                                    "maxLength": 30,
                                    "nullable": true
                                  },
                                  "pm10": {
                                    "type": "string",
                                    "maxLength": 30,
                                    "nullable": true
                                  },
                                  "pm25": {
                                    "type": "string",
                                    "maxLength": 30,
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "so2",
                                  "co",
                                  "o3",
                                  "no2",
                                  "pm10",
                                  "pm25"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "stationName",
                              "stationCode",
                              "sidoName",
                              "mangName",
                              "dataTime",
                              "measuredAt",
                              "so2",
                              "co",
                              "o3",
                              "no2",
                              "pm10",
                              "pm25",
                              "pm10Avg24",
                              "pm25Avg24",
                              "khai",
                              "khaiGrade",
                              "so2Grade",
                              "coGrade",
                              "o3Grade",
                              "no2Grade",
                              "pm10Grade",
                              "pm25Grade",
                              "pm10Grade1h",
                              "pm25Grade1h",
                              "flags"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "stationName",
                          "addr",
                          "sidoName",
                          "mangName",
                          "year",
                          "items",
                          "lat",
                          "lng",
                          "dist",
                          "measure"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "center",
                    "items",
                    "total",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/stations/search": {
      "get": {
        "summary": "대기 측정소 이름·주소 검색 — 캐시 목록 로컬 검색, 상위 30건",
        "tags": [
          "air-quality"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "q",
            "required": true
          }
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "q": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stationName": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 60
                          },
                          "addr": {
                            "type": "string",
                            "maxLength": 200
                          },
                          "sidoName": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true
                          },
                          "mangName": {
                            "type": "string",
                            "maxLength": 30,
                            "nullable": true
                          },
                          "year": {
                            "type": "string",
                            "maxLength": 10,
                            "nullable": true
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "maxLength": 20
                            }
                          },
                          "lat": {
                            "type": "number",
                            "minimum": 33,
                            "maximum": 39,
                            "nullable": true
                          },
                          "lng": {
                            "type": "number",
                            "minimum": 124,
                            "maximum": 132,
                            "nullable": true
                          }
                        },
                        "required": [
                          "stationName",
                          "addr",
                          "sidoName",
                          "mangName",
                          "year",
                          "items",
                          "lat",
                          "lng"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "q",
                    "items",
                    "total",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/air/stations/{stationName}/history": {
      "get": {
        "summary": "측정소별 대기오염 시계열(24시간·1개월·3개월) — 에어코리아 프록시, 10분 캐시",
        "tags": [
          "air-quality"
        ],
        "description": "term=DAILY(기본)는 최근 24시간 시간별 원본, MONTH·3MONTH 는 서버가 일평균으로 접는다. latest 에 가장 최근 시간 행(등급 포함)을 싣는다.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "DAILY",
                "MONTH",
                "3MONTH"
              ],
              "default": "DAILY"
            },
            "in": "query",
            "name": "term",
            "required": false
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            },
            "in": "path",
            "name": "stationName",
            "required": true
          }
        ],
        "x-auth": "public",
        "x-rate-limit": {
          "max": 60,
          "timeWindow": "1 minute"
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stationName": {
                      "type": "string"
                    },
                    "term": {
                      "type": "string",
                      "enum": [
                        "DAILY",
                        "MONTH",
                        "3MONTH"
                      ]
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "hour",
                        "day"
                      ]
                    },
                    "latest": {
                      "type": "object",
                      "properties": {
                        "stationName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 60
                        },
                        "stationCode": {
                          "type": "string",
                          "maxLength": 20,
                          "nullable": true
                        },
                        "sidoName": {
                          "type": "string",
                          "maxLength": 20,
                          "nullable": true
                        },
                        "mangName": {
                          "type": "string",
                          "maxLength": 30,
                          "nullable": true
                        },
                        "dataTime": {
                          "type": "string",
                          "maxLength": 30,
                          "nullable": true
                        },
                        "measuredAt": {
                          "type": "string",
                          "nullable": true
                        },
                        "so2": {
                          "type": "number",
                          "nullable": true
                        },
                        "co": {
                          "type": "number",
                          "nullable": true
                        },
                        "o3": {
                          "type": "number",
                          "nullable": true
                        },
                        "no2": {
                          "type": "number",
                          "nullable": true
                        },
                        "pm10": {
                          "type": "number",
                          "nullable": true
                        },
                        "pm25": {
                          "type": "number",
                          "nullable": true
                        },
                        "pm10Avg24": {
                          "type": "number",
                          "nullable": true
                        },
                        "pm25Avg24": {
                          "type": "number",
                          "nullable": true
                        },
                        "khai": {
                          "type": "number",
                          "nullable": true
                        },
                        "khaiGrade": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "so2Grade": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "coGrade": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "o3Grade": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "no2Grade": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "pm10Grade": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "pm25Grade": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "pm10Grade1h": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "pm25Grade1h": {
                          "anyOf": [
                            {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                2
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                3
                              ]
                            },
                            {
                              "type": "number",
                              "enum": [
                                4
                              ]
                            }
                          ],
                          "nullable": true
                        },
                        "flags": {
                          "type": "object",
                          "properties": {
                            "so2": {
                              "type": "string",
                              "maxLength": 30,
                              "nullable": true
                            },
                            "co": {
                              "type": "string",
                              "maxLength": 30,
                              "nullable": true
                            },
                            "o3": {
                              "type": "string",
                              "maxLength": 30,
                              "nullable": true
                            },
                            "no2": {
                              "type": "string",
                              "maxLength": 30,
                              "nullable": true
                            },
                            "pm10": {
                              "type": "string",
                              "maxLength": 30,
                              "nullable": true
                            },
                            "pm25": {
                              "type": "string",
                              "maxLength": 30,
                              "nullable": true
                            }
                          },
                          "required": [
                            "so2",
                            "co",
                            "o3",
                            "no2",
                            "pm10",
                            "pm25"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "stationName",
                        "stationCode",
                        "sidoName",
                        "mangName",
                        "dataTime",
                        "measuredAt",
                        "so2",
                        "co",
                        "o3",
                        "no2",
                        "pm10",
                        "pm25",
                        "pm10Avg24",
                        "pm25Avg24",
                        "khai",
                        "khaiGrade",
                        "so2Grade",
                        "coGrade",
                        "o3Grade",
                        "no2Grade",
                        "pm10Grade",
                        "pm25Grade",
                        "pm10Grade1h",
                        "pm25Grade1h",
                        "flags"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    },
                    "points": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string"
                          },
                          "measuredAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "so2": {
                            "type": "number",
                            "nullable": true
                          },
                          "co": {
                            "type": "number",
                            "nullable": true
                          },
                          "o3": {
                            "type": "number",
                            "nullable": true
                          },
                          "no2": {
                            "type": "number",
                            "nullable": true
                          },
                          "pm10": {
                            "type": "number",
                            "nullable": true
                          },
                          "pm25": {
                            "type": "number",
                            "nullable": true
                          },
                          "khai": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "time",
                          "measuredAt",
                          "so2",
                          "co",
                          "o3",
                          "no2",
                          "pm10",
                          "pm25",
                          "khai"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "stale": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "stationName",
                    "term",
                    "unit",
                    "latest",
                    "points",
                    "total",
                    "fetchedAt",
                    "stale"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "502": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "summary": "이메일·비밀번호 로그인 — JWT 와 사용자 정보 반환",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
[...]
